{% extends 'base.html.twig' %}
    
 {% block title %} Symfony React Project {% endblock %}
    
 {% block body %}
    
     <div id="root"></div>
    
    <script type="text/javascript">
        const BASE_URL = "{{app.request.getSchemeAndHttpHost()}}";
    </script>
 {% endblock %}